<%-include("partials/header")-%>
<table class=" table_css table table-hover table-bordered table-responsive-sm">
  <thead class="thead-dark">
    <th>Sr.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Credits</th>
    <th>Select User</th>
  </thead>

  <% var d = 0;%>
  <%  users.forEach(function(user){ %>
  <% if(a.fromid!= user._id) { %>
    <% d+=1; %>
  <tr>
    <td><%=d %>.</td>
    <td><%= user.name %></td>
    <td><%=user.email%></td>
    <td><%= user.credits %></td>
    <td>

      <form class="" action="/transfer" method="post">
        <input type="hidden" name="toid" value=<%=user._id%>>
        <input type="hidden" name="bname" value=<%=user.name%>>
        <button type="submit" class="btn btn-outline-dark" name="button">Select</button>
      </form>
    </td>
  </tr>
  <% } %>
  <% }) %>
</table>
<%-include("partials/footer")-%>
